//!HEADER
header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 20px;
  }

  h3 {
    margin: 0;
    font-size: 22px;
  }

  p {
    margin: 0;
    font-size: 17px;
  }

  li {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;

    span {
      font-size: 18px;
    }
  }
}