* {
  font-family: "Inter", system-ui;
}
//!BODY
body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
//!WRAPPER
.wrapper {
  background: #ffffff;
  max-width: 100%;
  margin: 0px auto;
}



//!CONTENT
.content {
  h1 {
    margin: 0;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 20px;
  margin-right: 65px;
  position: relative;

  .quick-design {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.2;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  input {
    border: none;
    padding: 13px;
    font-size: 16px;
  }
}
//!SNEAKERS DİV
.sneakers {
  gap: 40px;
}

//!CARDS
//...

//!CARTITEM - STARTS -

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  // height: 6.5rem; //120
  padding: 18px;

  .cartItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
  }

  p {
    font-size: 1rem;
  }

  b {
    font-size: 15px;
  }

  .remove-btn {
    opacity: 0.5;
    transition: all 0.15s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: rotate(180deg) translateX(3px);
      opacity: 1;
      path {
        fill: rgb(126, 20, 41);
      }
    }
  }
}
//!CARTITEM - ENDS -

//!CARTTOTALBLOCK - STARTS -
.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border: none;
        border-bottom: 1px dashed #0000005b;
        position: relative;
        top: -5px;
        margin: 0 10px;
      }
    }
  }

  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 60px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
//!CARTTOTALBLOCK - ENDS -


.greenButton {
  width: 100%;
  height: 55px;
  background: rgb(79, 203, 162);
  border-radius: 18px;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.1s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

  &:hover {
    background: lighten($color: rgb(79, 203, 162), $amount: 7%);
    cursor: pointer;
  }
  &:active {
    background: darken($color: rgb(79, 203, 162), $amount: 15%);
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
